[package]
name = "axvm"
version = "0.1.0"
edition = "2024"

[features]
default = ["vmx"]
vmx = []
4-level-ept = ["arm_vcpu/4-level-ept"]   # TODO: Realize 4-level-ept on x86_64 and riscv64.

[dependencies]
log = "0.4"
cfg-if = "1.0"
spin = "0.9"

# System independent crates provided by ArceOS.
axerrno = "0.1.0"
cpumask = "0.1.0"
# kspin = "0.1.0"
memory_addr = "0.4"
page_table_entry = { version = "0.5", features = ["arm-el2"] }
page_table_multiarch = "0.5"
percpu = { version = "0.2.0", features = ["arm-el2"] }

# System dependent modules provided by ArceOS-Hypervisor.
axvcpu = { git = "https://github.com/arceos-hypervisor/axvcpu.git" }
axaddrspace = { git = "https://github.com/arceos-hypervisor/axaddrspace.git" }
axdevice = { git = "https://github.com/arceos-hypervisor/axdevice.git" }
axdevice_base = { git = "https://github.com/arceos-hypervisor/axdevice_crates.git" }
axvmconfig = { git = "https://github.com/arceos-hypervisor/axvmconfig.git", default-features = false }

[target.'cfg(target_arch = "x86_64")'.dependencies]
x86_vcpu = { git = "https://github.com/arceos-hypervisor/x86_vcpu.git" }

[target.'cfg(target_arch = "riscv64")'.dependencies]
riscv_vcpu = { git = "https://github.com/arceos-hypervisor/riscv_vcpu.git" }

[target.'cfg(target_arch = "aarch64")'.dependencies]
arm_vcpu = { git = "https://github.com/arceos-hypervisor/arm_vcpu.git" }
arm_vgic = { git = "https://github.com/arceos-hypervisor/arm_vgic.git", features = ["vgicv3"] }

