name: Quality Checks

on:
  workflow_call:

jobs:
  check:
    name: Quality Checks
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-none
          - riscv64gc-unknown-none-elf
          - aarch64-unknown-none-softfloat

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2025-05-20
          components: rust-src, clippy, rustfmt
          targets: ${{ matrix.target }}

      - name: Check rust version
        run: rustc --version --verbose

      - name: Check code format
        run: cargo fmt --all -- --check

      - name: Build
        run: cargo build --target ${{ matrix.target }} --all-features

      - name: Run clippy
        run: cargo clippy --target ${{ matrix.target }} --all-features -- -D warnings -A clippy::new_without_default

      - name: Build documentation
        env:
          RUSTDOCFLAGS: -D rustdoc::broken_intra_doc_links
        run: cargo doc --no-deps --target ${{ matrix.target }} --all-features
